.sucu{
    background-color:antiquewhite;
    align-items: center;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("https://th.bing.com/th/id/R.e549911d29ed4b7f0a88f2fff1db4107?rik=%2bHhgjgI3M%2fRluA&pid=ImgRaw&r=0");
    color: #f8f9fa;
    padding: 2rem 0;
}
.fondo{
    background: linear-gradient(90deg, #2c3e50 0%, #4ca1af 100%);
}
.card-body{
    border-radius: 5px;
}
.card-img-top{
    max-height: 350px;
    object-fit: cover;
}
.card-title{
    font-family: BOLD;
    background-color:linear-gradient(50deg, #2c3e50 0%, #4ca1af 100%);
}
.card{
    margin: 10px;
    max-height: 65vh;
    min-height: 55vh;
    border: 2px solid black;
    padding: 1px;
    box-sizing: border-box;
    background-color: #8ca8ccda;  
}
.fondo-novedades{
   background: linear-gradient(90deg, #2c3e50 0%, #4ca1af 100%);
   color: #f8f9fa;
}
.titular{
    border: 2px solid black; 
    background-color:antiquewhite; 
    color: black;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}
.card-text{
    max-width: 22.9rem; 
}
.carousel-item{
    padding: 5px;
}
.carousel-inner{
    width: 100%;
    overflow: hidden;
    align-items: center;
    margin: 5px;
    background: linear-gradient(50deg, #2c3e50 0%, #4ca1af 100%);
}
.texto{
    color:white;
    text-align: center;
    background-color: rgba(75, 188, 233, 0.637);
    border-radius: 5px;
    border: 2px solid black;
    min-height: 60px;
    margin: 5px;
    padding: 15px;
}
@media (min-width: 992px) {
  .imagen-ajustada {
    max-height: 400px;  
    object-fit: cover;  
  }
}
@media (min-width: 992px) {
  .imagen-miserable {
    max-height: 450px;     
    width: 100%;           
    object-fit: cover;     
    object-position: center top; 
  }
}