name: Build y Publicar Artefacto

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Configurar Java 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build con Maven
        run: mvn clean package -DskipTests

      - name: Publicar artefacto
        uses: actions/upload-artifact@v4
        with:
          name: LecturaSana-jar
          path: target/*.jar